<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BrodieTheatre.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <BrodieTheatre.Properties.Settings>
            <setting name="harmonyHubIP" serializeAs="String">
                <value />
            </setting>
            <setting name="plmPort" serializeAs="String">
                <value />
            </setting>
            <setting name="trayAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="potsAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="trayPlaybackLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="potsPlaybackLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="trayPausedLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="potsPausedLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="trayStoppedLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="potsStoppedLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="trayEnteringLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="potsEnteringLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="globalShutdown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="projectorPort" serializeAs="String">
                <value />
            </setting>
            <setting name="motionSensorAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="voiceActivity" serializeAs="String">
                <value />
            </setting>
            <setting name="occupancyDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="occupancyEnterCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="occupancyExitCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="voiceConfidence" serializeAs="String">
                <value>0</value>
            </setting>
        </BrodieTheatre.Properties.Settings>
    </userSettings>
</configuration>
